{% extends 'main/layoute.html' %}
{% block title %}<title>Добавить новость</title>{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Добавить новость</h2>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.title.label_tag }}{{ form.title }}
        {{ form.short_description.label_tag }}{{ form.short_description }}
        {{ form.text.label_tag }}{{ form.text }}
        {{ form.pub_date_date.label_tag }}{{ form.pub_date_date }}
        {{ form.pub_date_time.label_tag }}{{ form.pub_date_time }}
        <button type="submit" class="btn btn-success mt-3">Сохранить</button>
    </form>
</div>
{% endblock %}
