{% extends 'main/layoute.html' %}
{% block title %}Новости{% endblock %}
{% block content %}
<h1>Новости</h1>
{% for item in news %}
    <div class="card mb-3">
        <div class="card-body">
            <h3>{{ item.title }}</h3>
            <h6 class="text-muted">{{ item.pub_date }} — {{ item.author }}</h6>
            <p><strong>{{ item.short_description }}</strong></p>
            <p>{{ item.text }}</p>
        </div>
    </div>
{% empty %}
    <p>Новостей пока нет.</p>
{% endfor %}
{% endblock %}
